# PyCity Schools Analysis

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data= "Resources/schools_complete.csv"
student_data= "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data)
student_data = pd.read_csv(student_data)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
schooldt=len(school_data)

In [3]:
numstud=len(student_data)

In [4]:
school_bud=school_data.sum()["budget"]
school_bud

24649428

In [5]:
MVG=student_data.mean()["math_score"]

In [6]:
RVG=student_data.mean()["reading_score"]

In [7]:
OPR=(MVG+RVG)/2
OPR

80.43160582078121

In [8]:
passingM=student_data[student_data["math_score"]>= 70].count()
passingM["math_score"]

29370

In [9]:
percentMath=(passingM/numstud)*100
percentMath["math_score"]

74.9808526933878

In [10]:
passingR=student_data[student_data["reading_score"]>= 70].count()
passingM["reading_score"]

29370

In [11]:
percentRead=(passingR/numstud)*100
percentRead["reading_score"]

85.80546336482001

In [12]:
DistSum=pd.DataFrame({"School Data":[schooldt],
                      "Student Data":[numstud], 
                      "School Budge":[school_bud],
                      "Math Score":[MVG], 
                      "Reading Score": [RVG],
                      "Overall Passing Grade":[OPR],
                      "Students Passing Math":[passingM["math_score"]],
                      "Percentage Students Passing Math":[percentMath["math_score"]],
                      "Students Passing Reading":[passingR["reading_score"]],
                      "Percentage Students Passing Reading":[percentRead["reading_score"]]})
DistSum

,School Data,Student Data,School Budge,Math Score,Reading Score,Overall Passing Grade,Students Passing Math,Percentage Students Passing Math,Students Passing Reading,Percentage Students Passing Reading
0,15,39170,24649428,78.985371,81.87784,80.431606,29370,74.980853,33610,85.805463

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [13]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [14]:
numstu=len(school_data_complete)
numstu

39170

In [15]:
school_type=school_data.set_index(["school_name"])["type"]

In [16]:
#placing budget after mean, allows for budget to be calculated as a float, due to the fact that 
#you're taking the mean of the entire df, then only looking at the budget column

per_school_budget=school_data_complete.groupby(['school_name']).mean()['budget']
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [17]:
per_school_counts=school_data_complete["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [18]:
per_student_budget=(per_school_budget/per_school_counts)
per_student_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [19]:
math_mean=school_data_complete.groupby(["school_name"]).mean()["math_score"]
math_mean

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [20]:
reading_mean=school_data_complete.groupby(["school_name"]).mean()["reading_score"]
reading_mean

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [21]:
passingMath_count = school_data_complete[school_data_complete['math_score'] > 70]
passingMath_count

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
30,30,Bobby Harris,M,9th,Huang High School,94,99,0,District,2917,1910635
32,32,Candace Phelps,F,11th,Huang High School,93,90,0,District,2917,1910635
34,34,Steven Green,M,11th,Huang High School,65,74,0,District,2917,1910635
36,36,Kevin Bailey,M,10th,Huang High School,76,76,0,District,2917,1910635
38,38,Kimberly Mercado,F,12th,Huang High School,73,77,0,District,2917,1910635
41,41,Jennifer Parks,F,11th,Huang High School,85,95,0,District,2917,1910635
42,42,John Carlson,M,9th,Huang High School,65,89,0,District,2917,1910635
43,43,Megan Roberts,F,9th,Huang High School,66,90,0,District,2917,1910635
45,45,Heidi Jackson,F,11th,Huang High School,64,93,0,District,2917,1910635
47,47,Ellen Brown,F,11th,Huang High School,77,81,0,District,2917,1910635
49,49,Natalie Mitchell,F,10th,Huang High School,73,93,0,District,2917,1910635
50,50,Tiffany Gutierrez,F,10th,Huang High School,82,95,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39139,39139,Catherine Lee,F,9th,Thomas High School,83,81,14,Charter,1635,1043130
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [22]:
passingRead_count = school_data_complete[school_data_complete['reading_score'] > 70]
passingRead_count

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
30,30,Bobby Harris,M,9th,Huang High School,94,99,0,District,2917,1910635
31,31,Brian Fernandez,M,10th,Huang High School,97,65,0,District,2917,1910635
32,32,Candace Phelps,F,11th,Huang High School,93,90,0,District,2917,1910635
33,33,Amy Gonzalez,F,12th,Huang High School,95,68,0,District,2917,1910635
35,35,Benjamin Carlson,M,10th,Huang High School,99,61,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39138,39138,Monica Hampton,F,9th,Thomas High School,94,94,14,Charter,1635,1043130
39139,39139,Catherine Lee,F,9th,Thomas High School,83,81,14,Charter,1635,1043130
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [23]:
per_school_percent_MPass=(passingMath_count.groupby(["school_name"]).count()['student_name']/per_school_counts)*100
per_school_percent_MPass.round()

Bailey High School       65.0
Cabrera High School      90.0
Figueroa High School     64.0
Ford High School         66.0
Griffin High School      90.0
Hernandez High School    65.0
Holden High School       91.0
Huang High School        63.0
Johnson High School      64.0
Pena High School         92.0
Rodriguez High School    64.0
Shelton High School      90.0
Thomas High School       90.0
Wilson High School       91.0
Wright High School       90.0
dtype: float64

In [24]:
per_school_percent_RPass=(passingRead_count.groupby(["school_name"]).count()['student_name']/per_school_counts)*100
per_school_percent_RPass.round()

Bailey High School       79.0
Cabrera High School      94.0
Figueroa High School     78.0
Ford High School         78.0
Griffin High School      93.0
Hernandez High School    78.0
Holden High School       93.0
Huang High School        79.0
Johnson High School      78.0
Pena High School         92.0
Rodriguez High School    78.0
Shelton High School      93.0
Thomas High School       93.0
Wilson High School       93.0
Wright High School       93.0
dtype: float64

In [25]:
overall=(per_school_percent_MPass+per_school_percent_RPass)/2
overall.round()

Bailey High School       72.0
Cabrera High School      92.0
Figueroa High School     71.0
Ford High School         72.0
Griffin High School      92.0
Hernandez High School    71.0
Holden High School       92.0
Huang High School        71.0
Johnson High School      71.0
Pena High School         92.0
Rodriguez High School    71.0
Shelton High School      91.0
Thomas High School       92.0
Wilson High School       92.0
Wright High School       92.0
dtype: float64

In [57]:
School_Sum=pd.DataFrame({ "School Type":school_type, 
                          "Total Students":per_school_counts,
                          "Total School Budget":per_school_budget, 
                          "Per Student Budget":per_student_budget,
                          "Average Math Score":math_mean.round(),
                          "Average Reading Score":reading_mean.round(),
                          "Percentage Passing Math":per_school_percent_MPass.round(),
                          "Percentage Passing Reading":per_school_percent_RPass.round(),
                          "Overall Passing Rate":overall.round().astype(str)+'%'})

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [58]:
School_Sum.sort_values("Overall Passing Rate", ascending=False).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Overall Passing Rate
Cabrera High School,Charter,1858,1081356.0,582.0,83.0,84.0,90.0,94.0,92.0%
Griffin High School,Charter,1468,917500.0,625.0,83.0,84.0,90.0,93.0,92.0%
Holden High School,Charter,427,248087.0,581.0,84.0,84.0,91.0,93.0,92.0%
Pena High School,Charter,962,585858.0,609.0,84.0,84.0,92.0,92.0,92.0%
Thomas High School,Charter,1635,1043130.0,638.0,83.0,84.0,90.0,93.0,92.0%

## Bottom Performing Schools (By Passing Rate)

In [59]:
School_Sum.sort_values("Overall Passing Rate")

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Overall Passing Rate
Figueroa High School,District,2949,1884411.0,639.0,77.0,81.0,64.0,78.0,71.0%
Hernandez High School,District,4635,3022020.0,652.0,77.0,81.0,65.0,78.0,71.0%
Huang High School,District,2917,1910635.0,655.0,77.0,81.0,63.0,79.0,71.0%
Johnson High School,District,4761,3094650.0,650.0,77.0,81.0,64.0,78.0,71.0%
Rodriguez High School,District,3999,2547363.0,637.0,77.0,81.0,64.0,78.0,71.0%
Bailey High School,District,4976,3124928.0,628.0,77.0,81.0,65.0,79.0,72.0%
Ford High School,District,2739,1763916.0,644.0,77.0,81.0,66.0,78.0,72.0%
Shelton High School,Charter,1761,1056600.0,600.0,83.0,84.0,90.0,93.0,91.0%
Cabrera High School,Charter,1858,1081356.0,582.0,83.0,84.0,90.0,94.0,92.0%
Griffin High School,Charter,1468,917500.0,625.0,83.0,84.0,90.0,93.0,92.0%
Holden High School,Charter,427,248087.0,581.0,84.0,84.0,91.0,93.0,92.0%
Pena High School,Charter,962,585858.0,609.0,84.0,84.0,92.0,92.0,92.0%
Thomas High School,Charter,1635,1043130.0,638.0,83.0,84.0,90.0,93.0,92.0%
Wilson High School,Charter,2283,1319574.0,578.0,83.0,84.0,91.0,93.0,92.0%
Wright High School,Charter,1800,1049400.0,583.0,84.0,84.0,90.0,93.0,92.0%

* Sort and display the five worst-performing schools

In [60]:
School_Sum.sort_values("Overall Passing Rate").head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Overall Passing Rate
Figueroa High School,District,2949,1884411.0,639.0,77.0,81.0,64.0,78.0,71.0%
Hernandez High School,District,4635,3022020.0,652.0,77.0,81.0,65.0,78.0,71.0%
Huang High School,District,2917,1910635.0,655.0,77.0,81.0,63.0,79.0,71.0%
Johnson High School,District,4761,3094650.0,650.0,77.0,81.0,64.0,78.0,71.0%
Rodriguez High School,District,3999,2547363.0,637.0,77.0,81.0,64.0,78.0,71.0%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [61]:
grades_9 = student_data.loc[student_data["grade"] == "9th"]
grades_10 = student_data.loc[student_data["grade"] == "10th"]
grades_11 = student_data.loc[student_data["grade"] == "11th"]
grades_12 = student_data.loc[student_data["grade"] == "12th"]

In [62]:
grades_9th=grades_9.groupby(["school_name"]).mean()["math_score"].round()
grades_10th=grades_10.groupby(["school_name"]).mean()["math_score"].round()
grades_11th=grades_11.groupby(["school_name"]).mean()["math_score"].round()
grades_12th=grades_12.groupby(["school_name"]).mean()["math_score"].round()
grades_9th

school_name
Bailey High School       77.0
Cabrera High School      83.0
Figueroa High School     76.0
Ford High School         77.0
Griffin High School      82.0
Hernandez High School    77.0
Holden High School       84.0
Huang High School        77.0
Johnson High School      77.0
Pena High School         84.0
Rodriguez High School    77.0
Shelton High School      83.0
Thomas High School       84.0
Wilson High School       83.0
Wright High School       83.0
Name: math_score, dtype: float64

In [63]:
#merge_table = pd.merge(info_pd, items_pd, on="customer_id")
Grade_Summary=pd.merge(grades_9th,grades_10th, on="school_name",how="outer")
Grade_Summary.columns=['9th', '10th']
Grade_Summary

                        9th  10th
school_name
Bailey High School     77.0  77.0
Cabrera High School    83.0  83.0
Figueroa High School   76.0  77.0
Ford High School       77.0  78.0
Griffin High School    82.0  84.0
Hernandez High School  77.0  77.0
Holden High School     84.0  83.0
Huang High School      77.0  76.0
Johnson High School    77.0  77.0
Pena High School       84.0  83.0
Rodriguez High School  77.0  77.0
Shelton High School    83.0  83.0
Thomas High School     84.0  83.0
Wilson High School     83.0  84.0
Wright High School     83.0  84.0

In [64]:
Grade_Summary2=pd.merge(grades_11th,grades_12th, on="school_name")
Grade_Summary2.columns=['11th','12th']
Grade_Summary2

                       11th  12th
school_name
Bailey High School     78.0  76.0
Cabrera High School    83.0  83.0
Figueroa High School   77.0  77.0
Ford High School       77.0  76.0
Griffin High School    84.0  83.0
Hernandez High School  77.0  77.0
Holden High School     85.0  83.0
Huang High School      76.0  77.0
Johnson High School    77.0  77.0
Pena High School       84.0  84.0
Rodriguez High School  76.0  78.0
Shelton High School    83.0  84.0
Thomas High School     83.0  83.0
Wilson High School     83.0  83.0
Wright High School     84.0  84.0

In [65]:
Grade_Summary_Math=pd.merge(Grade_Summary, Grade_Summary2, on="school_name", how="inner")
Grade_Summary_Math

                        9th  10th  11th  12th
school_name
Bailey High School     77.0  77.0  78.0  76.0
Cabrera High School    83.0  83.0  83.0  83.0
Figueroa High School   76.0  77.0  77.0  77.0
Ford High School       77.0  78.0  77.0  76.0
Griffin High School    82.0  84.0  84.0  83.0
Hernandez High School  77.0  77.0  77.0  77.0
Holden High School     84.0  83.0  85.0  83.0
Huang High School      77.0  76.0  76.0  77.0
Johnson High School    77.0  77.0  77.0  77.0
Pena High School       84.0  83.0  84.0  84.0
Rodriguez High School  77.0  77.0  76.0  78.0
Shelton High School    83.0  83.0  83.0  84.0
Thomas High School     84.0  83.0  83.0  83.0
Wilson High School     83.0  84.0  83.0  83.0
Wright High School     83.0  84.0  84.0  84.0

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [66]:
Rgrades_9th=grades_9.groupby(["school_name"]).mean()["reading_score"].round()
Rgrades_10th=grades_10.groupby(["school_name"]).mean()["reading_score"].round()
Rgrades_11th=grades_11.groupby(["school_name"]).mean()["reading_score"].round()
Rgrades_12th=grades_12.groupby(["school_name"]).mean()["reading_score"].round()

In [67]:
Grade_SummaryR=pd.merge(Rgrades_9th,Rgrades_10th, on="school_name",how="outer")
Grade_SummaryR.columns=['9th', '10th']

In [68]:
Grade_Summary2R=pd.merge(Rgrades_11th,Rgrades_12th, on="school_name")
Grade_Summary2R.columns=['11th','12th']

In [69]:
Grade_Summary_Read=pd.merge(Grade_SummaryR, Grade_Summary2R, on="school_name", how="inner")
Grade_Summary_Read

                        9th  10th  11th  12th
school_name
Bailey High School     81.0  81.0  81.0  81.0
Cabrera High School    84.0  84.0  84.0  84.0
Figueroa High School   81.0  81.0  81.0  81.0
Ford High School       81.0  81.0  80.0  81.0
Griffin High School    83.0  84.0  84.0  84.0
Hernandez High School  81.0  81.0  81.0  81.0
Holden High School     84.0  83.0  84.0  85.0
Huang High School      81.0  82.0  81.0  80.0
Johnson High School    81.0  81.0  81.0  81.0
Pena High School       84.0  84.0  84.0  85.0
Rodriguez High School  81.0  81.0  81.0  80.0
Shelton High School    84.0  83.0  84.0  83.0
Thomas High School     84.0  84.0  84.0  84.0
Wilson High School     84.0  84.0  84.0  84.0
Wright High School     84.0  84.0  84.0  84.0

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [70]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 500, 600, 650, 700]
group_names = ["<$500", "$501-600", "$601-650", "$651-700"]

In [75]:
School_Sum["Spending Ranges Per Student"]=pd.cut(School_Sum["Per Student Budget"], spending_bins, labels=group_names)
School_Sum

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Overall Passing Rate,Spending Ranges Per Student
Bailey High School,District,4976,3124928.0,628.0,77.0,81.0,65.0,79.0,72.0%,$601-650
Cabrera High School,Charter,1858,1081356.0,582.0,83.0,84.0,90.0,94.0,92.0%,$501-600
Figueroa High School,District,2949,1884411.0,639.0,77.0,81.0,64.0,78.0,71.0%,$601-650
Ford High School,District,2739,1763916.0,644.0,77.0,81.0,66.0,78.0,72.0%,$601-650
Griffin High School,Charter,1468,917500.0,625.0,83.0,84.0,90.0,93.0,92.0%,$601-650
Hernandez High School,District,4635,3022020.0,652.0,77.0,81.0,65.0,78.0,71.0%,$651-700
Holden High School,Charter,427,248087.0,581.0,84.0,84.0,91.0,93.0,92.0%,$501-600
Huang High School,District,2917,1910635.0,655.0,77.0,81.0,63.0,79.0,71.0%,$651-700
Johnson High School,District,4761,3094650.0,650.0,77.0,81.0,64.0,78.0,71.0%,$601-650
Pena High School,Charter,962,585858.0,609.0,84.0,84.0,92.0,92.0,92.0%,$601-650
Rodriguez High School,District,3999,2547363.0,637.0,77.0,81.0,64.0,78.0,71.0%,$601-650
Shelton High School,Charter,1761,1056600.0,600.0,83.0,84.0,90.0,93.0,91.0%,$501-600
Thomas High School,Charter,1635,1043130.0,638.0,83.0,84.0,90.0,93.0,92.0%,$601-650
Wilson High School,Charter,2283,1319574.0,578.0,83.0,84.0,91.0,93.0,92.0%,$501-600
Wright High School,Charter,1800,1049400.0,583.0,84.0,84.0,90.0,93.0,92.0%,$501-600

## Scores by School Size

* Perform the same operations as above, based on school size.

In [76]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [77]:
School_Sum["Scores by School Size"]=pd.cut(School_Sum["Total Students"], size_bins, labels=group_names)
School_Sum

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Overall Passing Rate,Spending Ranges Per Student,Scores by School Size
Bailey High School,District,4976,3124928.0,628.0,77.0,81.0,65.0,79.0,72.0%,$601-650,Large (2000-5000)
Cabrera High School,Charter,1858,1081356.0,582.0,83.0,84.0,90.0,94.0,92.0%,$501-600,Medium (1000-2000)
Figueroa High School,District,2949,1884411.0,639.0,77.0,81.0,64.0,78.0,71.0%,$601-650,Large (2000-5000)
Ford High School,District,2739,1763916.0,644.0,77.0,81.0,66.0,78.0,72.0%,$601-650,Large (2000-5000)
Griffin High School,Charter,1468,917500.0,625.0,83.0,84.0,90.0,93.0,92.0%,$601-650,Medium (1000-2000)
Hernandez High School,District,4635,3022020.0,652.0,77.0,81.0,65.0,78.0,71.0%,$651-700,Large (2000-5000)
Holden High School,Charter,427,248087.0,581.0,84.0,84.0,91.0,93.0,92.0%,$501-600,Small (<1000)
Huang High School,District,2917,1910635.0,655.0,77.0,81.0,63.0,79.0,71.0%,$651-700,Large (2000-5000)
Johnson High School,District,4761,3094650.0,650.0,77.0,81.0,64.0,78.0,71.0%,$601-650,Large (2000-5000)
Pena High School,Charter,962,585858.0,609.0,84.0,84.0,92.0,92.0,92.0%,$601-650,Small (<1000)
Rodriguez High School,District,3999,2547363.0,637.0,77.0,81.0,64.0,78.0,71.0%,$601-650,Large (2000-5000)
Shelton High School,Charter,1761,1056600.0,600.0,83.0,84.0,90.0,93.0,91.0%,$501-600,Medium (1000-2000)
Thomas High School,Charter,1635,1043130.0,638.0,83.0,84.0,90.0,93.0,92.0%,$601-650,Medium (1000-2000)
Wilson High School,Charter,2283,1319574.0,578.0,83.0,84.0,91.0,93.0,92.0%,$501-600,Large (2000-5000)
Wright High School,Charter,1800,1049400.0,583.0,84.0,84.0,90.0,93.0,92.0%,$501-600,Medium (1000-2000)

## Scores by School Type

* Perform the same operations as above, based on school type.

In [87]:
#School_Sum=pd.DataFrame({ "School Type":school_type, 
                          #"Total Students":per_school_counts,
                          #"Total School Budget":per_school_budget.map('${:,}'.format), 
                          #"Per Student Budget":per_student_budget.map('${:,}'.format),
                          #"Average Math Score":math_mean.round().astype(str)+'%',
                          #"Average Reading Score":reading_mean.round().astype(str)+'%',
                          #"Percentage Passing Math":per_school_percent_MPass.round().astype(str)+'%',
                          #"Percentage Passing Reading":per_school_percent_RPass.round().astype(str)+'%',
                          #"Overall Passing Rate":overall.round().astype(str)+'%',
                          #"Spending Ranges Per Student":pd.cut(School_Sum["Per Student Budget"], spending_bins, labels=group_names),
                          #"Scores by School Size":pd.cut(School_Sum["Total Students"], size_bins, labels=group_names),})